<launch>
  <node name="lidar_scanner_Node"        pkg="lidar_scanner_driver"  type="lidar_scanner_publisher" output="screen">
  <param name="port" type="string" value="/dev/ttyACM0"/>
  <!--<param name="serial_port"         type="string" value="/dev/ttyUSB0"/>  
  <param name="serial_baudrate"     type="int"    value="115200"/>
  <param name="frame_id"            type="string" value="lidar_scanner"/>
  <param name="inverted"            type="bool"   value="false"/>
  <param name="angle_compensate"    type="bool"   value="true"/>-->
  </node>
</launch>
