<!--
  Used for visualising rplidar in action.  
  
  It requires rplidar.launch.
 -->
<launch>
  <include file="$(find lidar_scanner_driver)/launch/lidarlite.launch" />
  <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0 0 0 0 0 0 1 map lidar_scanner 10" /> <!--change -->

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find lidar_scanner_driver)/rviz/lidarlite.rviz" />
</launch>
